/program/base_benchmark/.idea/
/program/base_benchmark/.vscode/
/program/base_benchmark/build/
/program/base_benchmark/cmake-build-debug/
/program/base_benchmark/cmake-build-debug-system/
**/build
**/.vscode
**/test_data